<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çarpma İşlemi Öğreniyorum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🎯 İşlemleri Öğreniyorum</h1>
        <h3>Hangi seviyede çalışmak istiyorsun?</h3>
        
        <div class="secim-kutusu">
            <a href="/oyun_topla?tip=kolay" class="secim-buton-topla">
                🌟 Kolay Toplama
                <div class="aciklama">Örnek: 7 + 8 = ?</div>
            </a>
            
            <a href="/oyun_topla?tip=orta" class="secim-buton-topla">
                🎈 Orta Toplama
                <div class="aciklama">Örnek: 38 + 9 = ?</div>
            </a>
            
            <a href="/oyun_topla?tip=zor" class="secim-buton-topla">
                📚 Zor Toplama
                <div class="aciklama">Örnek: 38 + 47 = ?</div>
            </a>
            

            <a href="/oyun_cikar?tip=kolay" class="secim-buton-cikar">
                🌟 Kolay Çıkarma
                <div class="aciklama">Örnek: 7 - 8 = ?</div>
            </a>
            
            <a href="/oyun_cikar?tip=orta" class="secim-buton-cikar">
                🎈 Orta Çıkarma
                <div class="aciklama">Örnek: 38 - 9 = ?</div>
            </a>
            
            <a href="/oyun_cikar?tip=zor" class="secim-buton-cikar">
                📚 Zor Çıkarma
                <div class="aciklama">Örnek: 38 - 47 = ?</div>
            </a>
                                    
   
            
            <a href="/oyun_carpma?tip=kolay" class="secim-buton-carpma">
                🌟 Kolay Çarpma
                <div class="aciklama">Örnek: 7 × 8 = ?</div>
            </a>
            
            <a href="/oyun_carpma?tip=orta" class="secim-buton-carpma">
                🎈 Orta Çarpma
                <div class="aciklama">Örnek: 38 × 9 = ?</div>
            </a>
            
            <a href="/oyun_carpma?tip=zor" class="secim-buton-carpma">
                📚 Zor Çarpma
                <div class="aciklama">Örnek: 38 × 47 = ?</div>
            </a>


            <a href="/oyun_bolme?tip=kolay" class="secim-buton-bolme">
                🌟 Kolay Bölme
                <div class="aciklama">Örnek: 14 ÷ 2 = ?</div>
            </a>
               
        </div>
    </div>
</body>
</html>